{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "rules": {
    // use legacy indent rule because the new indent rule doesn't play nice with vue/script-indent
    "indent": 0,
    "indent-legacy": [2, 4, {"SwitchCase": 1}],
    "vue/script-indent": [2, 4, {"baseIndent": 1, "switchCase": 1}],
    "vue/html-indent": [2, 4],
    "no-extra-semi": 0,
    // require trailing commas
    "comma-dangle": [2, "always-multiline"]
  }
}
